<!DOCTYPE html>
<html ng-app="WeightDataApp">
<head>
<meta charset="UTF-8">
<title>Weight Data App</title>

<script
        src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<link
        href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css"
        rel="stylesheet">

<link rel="shortcut icon" href="Pictures/favicon.ico" type="image/x-icon" />

<script>

var app = angular.module('WeightDataApp',[]);

app.controller('WeightDataCtrl', function($scope, $http) {
	
	// Pai: 6/2/17
	$scope.weight = {};
	
	
	var host = window.location.hostname === 'localhost' ?
			'http://localhost:8080' : 'https://wwp-305-project.herokuapp.com'
				var url = window.location.href.split('id=');
				if (url.length > 1) {
				      $scope.id = url[1];
				      $http({
				         method: 'GET',
				         url: host + '/weight/' + $scope.id
				      }).then(function(response) {
				         $scope.weight = response.data;
				      });
				   }
	
	$scope.save = function() {
  		var postRequest = {
  			method: 'POST',
  			url: host + '/weight',
			data: {
				weddingName: $scope.weight.weddingName,
				userName: $scope.weight.userName,
				currentWeight: $scope.weight.currentWeight,
				finalWeight: $scope.weight.finalWeight,
				finalDate: $scope.weight.finalDate,
			}
  		}
  		if ($scope.id !== null) {
            postRequest.data.id = $scope.id;
         }
  		$http(postRequest).then(function (response) {
  			window.location.href = '/WeightResult.html#?id=' + response.data.id;
		
		});
  	};
}); //end 

</script>
</head>

<body>
	<div ng-controller="WeightDataCtrl" align = "center">
    <center>
    <br></br> 
	<font size = "16">Please input Your information</font> 
	<br></br> 
    Who's Wedding:	<input ng-model="weight.weddingName"/> </p>
	Your Name:	<input ng-model="weight.userName"/> </p>
	Your Current Weight:	<input ng-model="weight.currentWeight"/> </p>
	Your Final Goal:	<input ng-model="weight.finalWeight"/> </p>
	The Wedding Date:	<input ng-model="weight.finalDate"/> </p>
	<br></br> 
	<button ng-click="save()" class="button"> <font size = "5">Submit</button></font> 
	</center>
	</div>
</body>
</html>






